.computers__optimization{
    margin-top: 150px;
}

.overclock__highlighted-text, .optimization__highlighted-text{
    color: #00FFC2;
}

.optimization__title, .overclock__title, .optimization__price, .overclock__price, .overclock__subtitle, .optimization__subtitle{
    text-align: center;
}

.computers{
    margin-top: 5em;
}
.optimization__price{
    margin-top: 1em;
    margin-bottom: 1em;
}
.optimization__paragraph{
    margin-bottom: 1em;
}
.optimization__subtitle{
    margin-bottom: 1em;
}

.overclock__price{
    margin-top: 1em;
    margin-bottom: 1em;
}
.overclock__paragraph{
    margin-bottom: 1em;
}
.overclock__subtitle{
    margin-bottom: 1em;
}

.computers__overclock{
    margin-top: 2em;
}

@media screen and (max-width: 1250px) {
    .computers{
        margin-top: 7em;
    }
    .computers__optimization,
    .computers__overclock {
        text-align: justify;
        margin: 0 auto;
        max-width: 80%;
        /* Ajusta el ancho máximo según tu preferencia */
    }

    .optimization__price,
    .overclock__price {
        text-align: center;
        /* Alinea el texto al centro */
    }
}



