.files__recover{
    margin-top: 150px;
}

.files__title, .files__price{
    text-align: center;
}
.files__highlighted-text{
    color: #00FFC2;;
}

.files{
    margin-top: 5em;
}
.files__price{
    margin-top: 1em;
    margin-bottom: 1em;
}
.files__paragraph{
    margin-bottom: 1em;
}
.files__subtitle{
    margin-bottom: 1em;
}


@media screen and (max-width: 1250px) {
    .files {
        margin-top: 7em;
    }

    .files__recover{
        text-align: justify;
        margin: 0 auto;
        max-width: 80%;
        /* Ajusta el ancho máximo según tu preferencia */
    }

    .files__price, .files__subtitle{
        text-align: center;
    }
}