/* -----------------------------------------------HERO-----------------------------------------------------------------*/


.hero__highlighted-text{
    color: #00FFC2;
}

.hero{
    background-image: url("../img/background-header.webp"); /*Agrego imagen de fondo*/
    background-size: cover; /*defino que su tamaño es el del contenedor*/
    background-repeat: no-repeat;/*hago que no se repita el fondo*/
    background-position: center center;  /*lo centro*/
    height: 100vh;
    width: 100%;
    color: white;
    font-size: 1.5vw;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero h1{
    text-align: center;
}
.hero p{
    font-weight: 500;
    font-size: 1.2em;
}

/* -----------------------------------------------HERO END------------------------------------------------------------*/


/* -----------------------------------------------DESCRIPRTION--------------------------------------------------------*/
.description{
    width: 100%;
}
.description__imagen {
    width: 500px;
    height: 100%; 
    border-radius: 10px;
    margin-right: 15px;
}

.description__items {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-top: 100px;
}

.description_image-column{
    width: 50%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px; 
}

.cotiza {
    font-family: 'Outfit', sans-serif;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    width: 280px;
    background-color: black;
    color: white;
    font-size: 1.25em;
    font-weight: 600;
    border-radius: 50.61px;
    border: none;
    
}

.cotiza:hover{
    background-color: rgb(124, 124, 124);
    transition-duration: 0.5s;
}

.description__text-column{
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex: 1; /*Ocupa el espacio disponible en altura es como un multplicador */
}


.description__title{
    margin-top: -10px;
    margin-bottom: 1em;
    font-weight: 400;
}
.description__highlighted-text{
    font-weight: 700;
}
.description__text{
    margin-top: -20px
}

/* -----------------------------------------------DESCRIPTION END-----------------------------------------------------*/





/* -----------------------------------------------LANDING SERVICES-----------------------------------------------------*/
.landing-services{
    width: 100%;
}
.landing-services__title{
    font-weight: 800;
    font-size: 4em;
    text-align: center;
    margin-bottom: 0.5em;
    margin-top: 3em;
}
.landing-services__highlighted-text{
    color: #00FFC2;;
}
.landing-services__paragraph{
    margin-top: 3em;
}
.landing-services__disclaimer{
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 1em;
    margin-top: 1em;
}
.landing-services__titlecenter{
    text-align: center;
}
#list-componente{
    display: flex;
    justify-content: center;
}
.landing-services__box-list {
    display: flex;

}
.landing-services__box-list li{
    font-size: 1.15em
}

.landing-services__list {
    width: 50%;
}

.left {
    order: 1;
}

.right {
    order: 2;
}

/* -----------------------------------------------LANDING SERVICES END------------------------------------------------*/


/* -----------------------------------------------CHANGE BUTTONS------------------------------------------------------*/

.landing-services__icons{
    display: flex;
    justify-content: center;

}

.button{
    cursor: pointer;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(218, 3, 3, 0.2);
    border-radius: 3px;
    background-color: #f1f1f1;
    margin: 20px;
}

.button__text {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: 600;
}

.button__image {
    width: 67px;
    height: 60px;
}



/* CSS PARA JAVASCRIPT -----------*/
.selected{
    background-color: #3bffd1;

}
.change_text {
    opacity: 1;
    transition: 0.5s ease;
}

/* -----------------------------------------------CHANGE-BUTTONS END-------------------------------------------------*/





/* -----------------------------------------------WHY US--------------------------------------------------------------*/

.why-us__title{
    text-align: center;
    margin-bottom: 1em;
    margin-top: 2em;
}
/* -----------------------------------------------WHY US END----------------------------------------------------------*/

/* -----------------------------------------------------REVIEWS-------------------------------------------------------*/
#reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 5em;
    margin-bottom: 2em;
}
.reviews__title{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding:  10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reviews__title h3{
    font-size: 2.2rem;
    font-weight: 700;
    background-color: #00FFC2;
    color: #050505;
    padding: 10px 20px;
}

.reviews__box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.reviews__testimonial-box{
    width: 500px;
    box-shadow: -12px 14px 21px gray;
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor:pointer
}
.reviews__profile-img{
    width: 50px;
    height: 50px;
    /* IMAGEN EN FORMA DE CIRCULO */
    border-radius: 50%; 
    overflow: hidden;
    margin-right: 10px;
}
.reviews__profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: cover;
    object-position: center;

}
.reviews__profile{
    display: flex;
    align-items: center;

}
.reviews__name-user{
    display: flex;
    flex-direction: column;
}
.reviews__name-user b{
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.reviews__name-user span{
    color:#414141 ;
    font-size: 0.8rem;
}
.rating{
    color: #f9d71c;
}
.reviews__box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}
.reviews__comments p{
    font: 0.9rem;
    color: #4b4b4b;
}
/* -----------------------------------------------REVIEWS END---------------------------------------------------------*/

/* CALL TO ACTION ESPECIFICO PARA EL INDEX */
#index{
    width: 100%;
    height: 30em;
    background-image: linear-gradient(0deg,
    /* 0-1 tranparencia */
            rgba(87, 87, 87, 0.3),
            rgba(24, 24, 24, 0.6)),url("../img/pexels-it-services-eu-7639373.webp");
    background-size: cover; /*defino que su tamaño es el del contenedor*/
    background-repeat: no-repeat;
    background-position: center center; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

#index .call_to_action__title{
    color: white;
}

#index .call_to_action__paragraph{
    color: white;
}

/* -----------------------------------------------RESPONSIVE-----------------------------------------------------------*/

/* HERO */
@media screen and (max-width:600px) {
    .hero__text {
        padding: 0 1%;
    }

    .hero h1 {
        font-size: 7em;
    }

    .hero p {
        font-size: 2.5em;
        text-align: center;
    }

}

@media screen and (min-width:600px) and (max-width:800px) {
    .hero__text {
            padding: 0 1%;
        }
    
        .hero h1 {
            font-size: 5em;
        }
    
        .hero p {
            font-size: 2em;
            text-align: center;
        }

}
/* DESCRIPRTION */
@media screen and (max-width: 1371px) {
    .description {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
    }

    .description__items {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .description__imagen {
        width: 350px;
        height: 100%;
        margin-right: 0;
    }


    .description__text {
        text-align: justify;
    }

}

@media screen and (max-width:1371px) {
    .description__title {
        text-align: center;
        transition: all .50s ease;
    }
}


/* CHANGE-BUTTONS */
@media screen and (max-width:480px) {

    .button__text {
        margin-top: 0px;
        margin-bottom: 7.5px;
        font-size: 0.1.125em;
        font-weight: 600;
    }

    .button__image {
        width: 50.25px;
        height: 50.25px;
    }
}









/* LANDING SERVICES */
@media screen and (max-width:1000px){
    .landing-services__title {
            font-size: 3em;

        }
    .why-us__title{
        font-size: 2.5em;
    }
}

@media screen and (max-width: 1270px) {

    .landing-services__paragraph,
    .why-us__paragraph {
        text-align: justify;
        padding: 0 20px;
    }

    .landing-services__paragraph,
    .why-us__paragraph {
        margin-top: 20px;
    }

        .landing-services__box-list {
            flex-direction: column;
            align-items: center;
            
        }
    
        .landing-services__box-list li {
            font-size: 1em;
            
        }
        .landing-services__list{
            margin-top: 1em;
        }
        .landing-services__list h4{
            margin-bottom: 0.5em;
        }
        .reviews__title{
            text-align: center;
        }
}