
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

body,input,button {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.background-container {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(black, rgb(90, 90, 90)), url(../img/login-background.jpg);
  background-attachment: fixed;/* This property is used in CSS to set a background image as fixed or scroll */
  background-blend-mode:hard-light;
  background-size: cover; /*defino que su tamaño es el del contenedor*/
  background-repeat: no-repeat;
  background-position: center center; 
}

input,button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== LOGIN ===============*/
.login {
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
}

.login__form {
  margin-top: 100px;
  position: relative;
  border: 2px solid rgb(0, 230, 199);
  margin-inline: 1.5rem;
  padding: 2.5rem 1.5rem;
  border-radius: 0.8rem;
}
.login__title {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: white;
}
.login__content, .login__box {
  display: grid;
}
.login__content {
  row-gap: 1.75rem;
  margin-bottom: 1.5rem;
  color: white;
}
.login__box {
  grid-template-columns: max-content 1fr;
  align-items: center;
  column-gap: 0.75rem;
  border-bottom: 2px solid rgb(255, 255, 255)
}
.login__icon, .login__eye {
  font-size: 1.25rem;
}
.login__input {
  width: 100%;
  padding-block: 0.8rem;
  background: none;
  color: rgb(255, 255, 255);
  position: relative;
  z-index: 1;
}
.login__box-input {
  position: relative;
}
.login__label {
  position: absolute;
  left: 0;
  top: 13px;
  font-weight: 500;
  transition: top 0.3s;
}
.login__eye {
  position: absolute;
  right: 0;
  top: 18px;
  z-index: 10;
  cursor: pointer;
}
.login__box:nth-child(2) input {
  padding-right: 1.8rem;
}

/* .login__check, .login__check-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login__check {
  margin-bottom: 1.5rem;
}
.login__check-label, .login__forgot, .login__register {
  font-size: .813rem;
}
.login__check-group {
  column-gap: 0.5rem;
}
.login__check-input {
  width: 16px;
  height: 16px;
} */

.login__button {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #00FFC2;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 2rem;
}
.login__register {
  text-align: center;
  color: #ffffff;
}
.login__register a {
  color: #ffffff;
  font-weight: 500;
}

/* .message{
  width: 100%;
  display: flex;
  justify-content: center;
} */
.error-message{
  font-size: 1.2em;
  color: #ffffff;
  font-weight: 600;
}

.login__register a:hover {
  text-decoration: underline;
}

/* mover input */
.login__input:focus + .login__label {
  top: -12px;
  font-size: .813rem;
}

/* Etiqueta superior de input */
.login__input:not(:placeholder-shown).login__input:not(:focus) + .login__label {
  top: -12px;
  font-size: .813rem;
}


/* Responsive */
@media screen and (min-width: 576px) {
  .login {
    justify-content: center;
  }
  .login__form {
    width: 432px;
    padding: 4rem 3rem 3.5rem;
    border-radius: 1.5rem;
  }
  .login__title {
    font-size: 2rem;
  }
}