@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&display=swap');


@import "./index.css";
@import "./nav.css";
@import "./footer.css";
@import "./call_to_action.css";
@import "./computers.css";
@import "./services.css";
@import "./login.css";
@import "./register.css";
@import "./files.css";
@import "./graphics_cards.css";

 
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1200px;
    margin: auto;
}


h1, h2,h3, h4{
    font-family: 'Outfit', sans-serif;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em}
h3{font-size: 1.7em;}
h4{font-size: 1.7em;}
p{font-size: 1.20em;}
a {text-decoration: none;}

input,
button {
    border: none;
    outline: none;
}

