
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #161616;
    padding: 28px 12%;
    transition: all .50s  ease;

}



.navbar li {
    list-style: none;
}
.logo{
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.8em;
    font-weight: 700;
}
#register{
    border: 5px solid #ffffff;
    border-radius: 15px;
    padding: 10px;
}

.navbar{
    display: flex;
}

.navbar a {
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    padding: 5px 0;
    margin: 0 30px;
    transition: all .50s ease;

}

.navbar a:hover{
    color: #00FFC2;

}

.navbar a.active {
    color: #00FFC2;
}

.main{
    display: flex;
    align-items: center;
}
.main a{
    margin-right: 25px;
    margin-left: 10px;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    transition: all .50s ease;
}

/* Aqui aplico estilos similares al username y el boton de cerrar sesion */
.main #username, #logout{
    margin-right: 25px;
    margin-left: 10px;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    transition: all .50s ease;
}

.user{
    display: flex;
    align-items: center;
}

.user i{
    color: #ffffff;
    font-size: 28px;
    margin-right: 7px;
}

.main a:hover {
    color: #00FFC2;

}

#login:hover {
    transform: scale(1.10);
    /* Escala el tamaño del ícono al pasar el mouse sobre él */
    transition: 0.3s ease;
}

#register:hover {
    background-color: #ffffff;
    color: #000000;
}


#logout {
    border: 5px solid #ffffff;
    border-radius: 15px;
    padding: 10px;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
}

#logout:hover {
    background-color: #ffffff;
    color: #000000;
}


#menu-icon{
    color: white;
    font-size: 35px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}
@media screen and (min-width: 390px)and (max-width:416px){
    .main a{
        margin-right: 15px;
    }
    .user i {
            font-size: 15px;
        }
    
}

@media (max-width: 460px){
    .user i {
            font-size: 20px;
        }
    #login{
        font-size: 0.8em;
    }
    #register{
        font-size: 0.8em;
        border: 3px solid #ffffff;
    }
    #username p{
        font-size: 0.8em;
    }
    #logout {
            font-size: 0.8em;
            padding: 10px;
            border: 3px solid #ffffff;
        }
}




@media (max-width: 502px){
    .main a {
        font-size: 1em;
    }
}


@media (max-width: 1318px){
    header{
        padding:14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;

    }
}

@media (max-width: 1090px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        /* Para que se oculte completamente */
        right: -100%;
        width: 100%;
        height: 40vh;
        background: #1d1d1d;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50s ease;
    }
    .navbar a{
        display: flex;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
        justify-content: center;
    }

    .navbar a:hover{
        color: #000000;
        background:#00FFC2;
        /* ANIMACION PARA QUE SE MUEVA EN EL EJE Y */
        transform: translateY(5px); 
    }
    .navbar a.active{
        color: #00FFC2;
    }
    .navbar.open{
        right: 0%;
    }
}

/* ESTILOS PARA CUANDO APARECE EL USUARIO Y EL BOTON CERRAR SESION */

#username {
    color: white;
}

#logout {
    color: white;
}